// =============================================================================
// Forms
// =============================================================================

.form, .frm_forms {
	display: flex;
	width: 100%;
	flex-direction: column;
	.frm_form_fields {
		display: flex;
		flex-direction: column;
		width: 100%;
		fieldset {
			border: 0;
		}
		.frm_fields_container {
			display: flex;
			flex-wrap: wrap;
			grid-template-columns: repeat(12, 6.5%);
			grid-auto-rows: max-content;
			grid-gap: 0;
			// flex-direction: column;
			.frm_primary_label {
				display: none;
			}
			.vertical_radio {
				font-size: 14px;
				flex-direction: row;
				width: 100%;
				margin-bottom: 1rem;
				@include mq(medium) {
					width: 50%;
					margin-bottom: 0;
				}
				.frm_primary_label {
					display: flex;
					order: 2;
					margin-top: 0.3rem;
				}
				.frm_opt_container {
					order: 1;
					margin-right: 0.5rem;
				}
				> div {
					display: flex;
				}
			}
			.frm_submit {
				width: 100%;
				@include mq(medium) {
					width: 50%;
				}
				.btn {
					margin-left: auto;
				}
			}
		}
	}
	.frm_message {
		font-size: fluid-type($font-size-h4) !important;
		p {
			font-size: fluid-type($font-size-h4) !important;
		}
	}
	&-field {
		display: flex;
		flex-direction: column;
		width: 100%;
		&--half {
			width: 50%;
			padding-right: 0.5rem;
			&:nth-child(odd) {
				padding-right: 0;
				padding-left: 0.5rem;
			}
		}
	}
	.frm_error_style {
		// border: 1px solid $color-tertiary;
		background-color: lighten($color-tertiary, 45%);
		font-size: $font-size-base;
		font-weight: $font-weight-bold;
		color: $color-tertiary;
		padding: 1rem;
		text-align: center;
	}
	.frm_error {
		// border: 1px solid $color-tertiary;
		font-size: $font-size-base;
		font-weight: $font-weight-bold;
		color: $color-tertiary;
		padding: 1rem 0;
		+ label + input[type="email"],
		+ input[type="number"],
		+ input[type="search"],
		+ input[type="text"],
		+ input[type="tel"],
		+ input[type="url"],
		+ input[type="password"] {
			border-bottom: 2px solid $color-tertiary;
		}

	}
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	font-family: $font-family-display;
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
	padding: 1rem 0;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	box-shadow: none;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 1rem;
	// display: flex;
    // order: 2;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
	color:#D8D8D8;
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border-bottom: 1px solid $color-primary;
	outline: 0;
	color: $color-text-base;
}

label {
	display: block;
	margin: .5em 0;
	font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: block;
	padding: 1em;
	margin: .5em 0;
	background: $color-primary;
	color: #fff;
	border-radius: $radius;
	transition: (all 0.2s linear);
	border: 0;
}

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
	margin: 0 auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: $color-grey;
	text-decoration: none;
	color: #fff;
}

 .required {
	 color: #BF5D58;
 }
