@import "utilities/_variables";
@import "utilities/_placeholders";
@import "utilities/_mixins";
@import "../../node_modules/sass-mq/mq";

@import "base/_generic";
@import "base/_typography";
@import "components/*.scss";
@import "layout/_site";

@import "blocks/*.scss";

.editor-styles-wrapper {
	background-color: white !important;
	height: auto !important;
}
.editor-styles-wrapper, .editor-styles-wrapper {
	background-color: white !important;
	height: auto !important;
}


.edit-post-layout .interface-interface-skeleton__content {
	background-color: white !important;
}

@import "utilities/_theme";

.banner__overlay {
	.stop-1 {
		color: #5e4078;
	}
	.stop-2 {
		color: #825c8a;
	}
}
.banner__content {
	background: $color-primary;
	&-link {
		&:hover, &:focus {
			background-color: darken($color-primary, 5%);
		}
	}
}