@import "utilities/_variables";
@import "utilities/_placeholders";
@import "utilities/_mixins";
@import "../../node_modules/sass-mq/mq";

@import "base/_generic";
@import "base/_typography";
@import "utilities/_theme";
@import "components/*.scss";
@import "layout/_site";

@import "blocks/*.scss";

body {
	background-color: rgba(255,255,255,1) !important;
	background: rgba(255,255,255,1) !important;
}
.banner__overlay {
	.stop-1 {
		color: #5e4078;
	}
	.stop-2 {
		color: #825c8a;
	}
}
.banner__content {
	background: $color-primary;
	&-link {
		&:hover, &:focus {
			background-color: darken($color-primary, 5%);
		}
	}
}
.accordion__title,
.accordion__content {
	ul {
		margin-left: 0 !important;
		li {
			list-style-type: none !important;
		}
	}
}
.editor-styles-wrapper ul {
	margin-left: 0 !important;
}
.accordion__content {
	display: none;
}
.editor-styles-wrapper .wp-block {
	max-width: 1200px !important;
}