// =============================================================================
// Global block styles
// =============================================================================

.block {
    margin: 0;
}

