.theme {
	&--purple {
		h2, h3, h4 {
			color: $color-primary;
		}
		.banner__content {
			background: $color-primary;
			&-link {
				&:hover, &:focus {
					background-color: darken($color-primary, 5%);
				}
			}
		}
		.banner__overlay {
			.stop-1 {
				color: #5e4078;
			}
			.stop-2 {
				color: #825c8a;
			}
		}
		.icon--arrow,
		.text-image__content-link p:first-child,
		.accordion__title,
		.accordion ul li:before,
		.projects-details__header p,
		.content-block__label {
			color: $color-primary;
		}
	}
	&--blue {
		::selection {
			background: lighten($color-secondary, 50%); /* WebKit/Blink Browsers */
		  }
		::-moz-selection {
			background: lighten($color-secondary, 50%); /* Gecko Browsers */
		}
		h2, h3, h4 {
			color: $color-secondary;
		}
		.banner__content {
			background: $color-secondary;
			&-link {
				&:hover, &:focus {
					background-color: darken($color-secondary, 5%);
				}
			}
		}
		.banner__overlay {
			.stop-1 {
				color: #4882AC;
			}
			.stop-2 {
				color: #465F8C;
			}
		}

		.icon--arrow,
		.text-image__content-link p:first-child,
		.accordion__title,
		.accordion ul li:before,
		.projects-details__header p,
		.content-block__label {
			color: $color-secondary;
		}
	}
	&--red {
		::selection {
			background: lighten($color-tertiary, 50%); /* WebKit/Blink Browsers */
		  }
		::-moz-selection {
			background: lighten($color-tertiary, 50%); /* Gecko Browsers */
		}
		h2, h3, h4 {
			color: $color-tertiary;
		}
		.banner__content {
			background: $color-tertiary;
			&-link {
				&:hover, &:focus {
					background-color: darken($color-tertiary, 5%);
				}
			}
		}
		.banner__overlay {
			.stop-1 {
				color: #C8582D;
			}
			.stop-2 {
				color: #B93C32;
			}
		}
		.icon--arrow,
		.text-image__content-link p:first-child,
		.accordion__title,
		.accordion ul li:before,
		.projects-details__header p,
		.content-block__label {
			color: $color-tertiary;
		}
	}
}