// =============================================================================
// Variables
// =============================================================================
$debug:	false;

/* Colours */
$color-black: #000;
$color-grey-dark: #6a6a6a;
$color-grey: #ddd;
$color-grey-light: #F7F7F7;
$color-white: #fff;

$color-primary: #5E4078;
$primary-light: #825C8A;
$color-secondary: #4882AC;
$color-tertiary: #B93C32;
$color-quaternary: #FAC828;

$color-text-base: #000;
$color-text-dark: #181822;
$color-text-reversed: #fff;
$color-text-link: $color-primary;
$color-text-hover: $color-secondary;

$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-instagram: #262626;
$color-youtube: #cc181e;
$color-linkedin: #0077B5;

// Block colours
$block-colors: 
	( "purple", $color-primary ),
	( "blue", $color-secondary ),
	( "orange", $color-tertiary ),
	( "yellow", $color-quaternary );

/* Typography */
$font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-display: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;

$body-background-color: $color-grey-light;
$body-size: 16px;
$body-size-multiplier: 0.3vw;
$body-family: $font-family-body;
$body-color: $color-text-base;
$body-line-height: 1.25;

$font-size-small: .85rem;
$font-size-base: 1rem;
$font-size-lead: 1.1rem;

$font-size-h1: 2.2rem;
$font-size-h2: 1em;
$font-size-h3: 2rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.4rem;
$font-size-h6: $font-size-base;

$heading-line-height: 1.2;

$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-heavy: 900;
$font-weight-headings: $font-weight-normal;

// Spacing

$spacing: 70px;
$spacing-med: $spacing;
$spacing-small: $spacing / 2;

// Layout
$content-width: 1024px;
$container: 1260px;
$container-large: 2000px;

$radius: 4px;
$radius-large: 32px;

$z-scale: (
	foreground: 1,
	overlay: 10,
	navigation: 100,
	modal: 200
);

// Breakpoints
$mq-breakpoints: (
	xsmall: 21em,
    small: 30em,
    small-major: 40em,
    medium: 50em,
    medium-major: 62.5em,
    large: 62.5em,
    xlarge: 80em
);

// $mq-show-breakpoints: (xsmall, small, small-major, medium, medium-major, large, xlarge);
