.hide { display: none; }
.accordion {
	border-top: 1px solid rgba(0,0,0,0.5);
	padding: 0;
	list-style: none;
	> li {
		border-bottom: 1px solid rgba(0,0,0,0.5);
		button {
			font-weight: $font-weight-normal;
			font-family: $font-family-display;
			text-align: left;
		}
	}


	&__title {
		font-size: $font-size-base;
		font-weight: $font-weight-normal;
		position: relative;
		display: flex;
		border: none;
		background: none;
		outline: none;
		padding: 1rem 2rem 1rem 0;
		width: 100%;
		.icon--arrow {
			position: absolute;
			display: inline-flex;
			right: 0;
			top: 1.6rem;
			transform: translateY(-50%);
			transition: .2s all ease-in-out;
		}
		&:hover {
			cursor: pointer;
			// .icon--arrow {
			// 	transform: translateX(1rem);
			// }
		}
	}
	.active {
		.icon--arrow {
			// color: $color-primary;
			transform: translateY(-6px) rotate(90deg);
			transition: .2s all ease-in-out;
		}
	}
	ul {
		padding-left: 1.5rem;
		li {
			color: $color-text-base;
			font-size: $font-size-base;
		}
		li:before {
			content: "\2022";
			font-weight: bold;
			display: inline-block; 
			width: 1.5rem;
			margin-left: -1.5rem;
		}
	}
	&__content {
		padding-bottom: 1rem;
		ul {
			// margin-bottom: 1rem;
			li {
				margin-bottom: 1rem;
			}
		}
	}
}