// =============================================================================
// Alert
// =============================================================================

.global-alert {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(250,200,40);
	background: linear-gradient(45deg, rgba(250,200,40,1) 0%, rgba(250,170,40,1) 100%);
	padding: 0.5rem;
	a {
		color: $color-text-base;
	}
}

.global-alert p {
	color: white;
	margin: 0;
}