// =============================================================================
// Alert
// =============================================================================

.global-alert {
	display: flex;
	align-items: center;
	justify-content: center;
	a {
		color: $color-text-base;
		font-size: $font-size-base;
		background: rgb(250,200,40);
		background: linear-gradient(45deg, rgba(250,200,40,1) 0%, rgba(250,170,40,1) 100%);
		padding: 0.5rem;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
		&:hover {
			text-decoration: none;
			.icon {
				transition: .2s transform ease-in-out;
				transform: translateX(0.5rem);
			}
		}
	}
	.icon {
		color: $color-text-base;
		transition: .2s transform ease-in-out;
		margin-left: 0.5rem;
	}

	+ .container {
		margin-top: $spacing;
	}
}

.global-alert p {
	color: white;
	margin: 0;
}