.banner {
	width: 100%;
	position: relative;
	height: 60vh;
	min-height: 500px;
	display: flex;
	align-items: flex-end;
	margin-bottom: $spacing * 1.5;
	
	@include mq(medium) {
		min-height: 620px;
	}
	&-outer {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
	}

	&__image {
		position: absolute;
		display: block;
		z-index: 0;
		order: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		margin: auto;
		// min-height: 100%;
		// max-width: none;
		min-width: 100%;
		height: 100%;

		img {
			max-width: none;
			min-width: 100%;
			min-height: 100%;
			width: auto;
		}
	}
	
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		.stop-1 {
			color: #5e4078;
		}
		.stop-2 {
			color: #825c8a;
		}
	}

	&__content {
		z-index: 1;
		background: $color-primary;
		margin-left: auto;
		width: 90%;
		padding: 40px;
		transform: translateY(50%);
		
		@include mq(medium) {
			width: 60%;
			padding: 40px 80px 40px 40px;
		}

		h1 {
			color: white;
			margin: 0;
			position: relative;
			display: inline;
			@include mq($until: medium) {
				font-size: 1.7rem;
			}
		}
		.icon {
			display: inline;
			margin-left: 1rem;
			transform: translateY(-5px);
			transition: .2s margin-left ease-in-out;
		}

		&-link {
			transition: .2s background-color ease-in-out;
			&:hover, &:focus {
				background-color: darken($color-primary, 5%);
				text-decoration: none;
				transition: .2s background-color ease-in-out;

				.icon {
					margin-left: 1.5rem;
					transition: .2s margin-left ease-in-out;
				}
			}
		}
	}
}