.banner {
	// background-color: $color-primary;
	// position: relative;
	// overflow: hidden;

	width: 100%;
	position: relative;
	height: 60vh;
	min-height: 500px;
	display: flex;
	align-items: center;
	// z-index: 2;
	overflow: hidden;
	
	@include mq(medium) {
		min-height: 620px;
	}

	&__image {
		position: absolute;
		display: block;
		z-index: 0;
		order: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		margin: auto;
		// min-height: 100%;
		// max-width: none;
		min-width: 100%;

		img {
			max-width: none;
			min-width: 100%;
			width: auto;
		}
	}
	
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		.stop-1 {
			color: #5e4078;
		}
		.stop-2 {
			color: #825c8a;
		}
	}

	&__content {
		z-index: 1;
	}
}