.banner {
	width: 100%;
	position: relative;
	height: calc(90vh - 136px);
	min-height: 620px;
	display: flex;
	align-items: flex-end;
	margin-bottom: $spacing;
	max-height: 800px;
	min-height: 520px;

	&-has-content {
		margin-bottom: $spacing * 1.5;
	}
	
	@include mq(medium) {
		height: 70vh;
		// min-height: 732px;
	}
	&-outer {
		width: 100%;
		height: 100%;
		top: 0;
		overflow: hidden;
		position: absolute;
		.icon--arrow {
			position: absolute;
			bottom: 3rem;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
			color: white;
		}
	}

	&__image {
		display: block;
		z-index: 0;
		order: 1;
		margin: auto;
		min-width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;

		&--desktop {
			opacity: 0;
		}

		img {
			// max-width: none;
			// min-width: 100%;
			// min-height: 100%;
			// width: auto;

			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
		}
	}
	
	&__overlay {
		position: absolute;
		top: 0;
		height: 100%;
		svg {
			top: 0;
			height: 100%;
		}
		&--left {
			left: 0;
		}
		&--right {
			right: 0;
			transform: rotate(180deg);
		}
		&--none {
			display: none;
		}
		.stop-1 {
			color: #5e4078;
		}
		.stop-2 {
			color: #825c8a;
		}
		@include mq($until: medium) {
			display: none;
		}
	}

	&__content {
		z-index: 1;
		background: $color-primary;
		margin-left: auto;
		width: 90%;
		padding: 30px;
		transform: translateY(30%);
		
		@include mq(medium) {
			width: 60%;
			padding: 30px 80px 30px 30px;
		}

		h1 {
			color: white;
			margin: 0;
			position: relative;
			display: inline;
			@include mq($until: medium) {
				font-size: 1.7rem;
			}
		}
		.icon {
			display: inline;
			margin-left: 1rem;
			transform: translateY(-5px);
			transition: .2s margin-left ease-in-out;
			color: white;
		}

		&-link {
			transition: .2s background-color ease-in-out;
			&:hover, &:focus {
				// background-color: darken($color-primary, 5%);
				text-decoration: none;
				transition: .2s background-color ease-in-out;

				.icon {
					margin-left: 1.5rem;
					transition: .2s margin-left ease-in-out;
				}
			}
		}
	}
}