// =============================================================================
// Buttons
// =============================================================================

.btn {
	display: flex;
	border-radius: none;
	padding: 1rem 9rem 1rem 2rem;
	border: none;
	color: white;
	background-color: $color-primary;
	// line-height: 40px;
	font-family: $font-family-display;
	font-weight: $font-weight-normal;
	font-size: fluid-type($font-size-h4);
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	position: relative;
	&:after {
		content: url("../src/icons/arrow-white.svg");
		position: absolute;
		right: 3rem;
		width: 13px;
		height: 10px;
		margin-left: 5rem;
		transform: translateY(-50%);
		transition: .2s transform ease-in-out;
	}

	&:hover, &:focus {
		outline: 0;
		color: white;
		text-decoration: none;
		background-color: darken($color-primary, 5%);
		&:after {
			transform: translate(0.5rem, -50%);
			transition: .2s transform ease-in-out;
		}
	}
}

.btn--primary {
	background-color: $color-primary;
	border: 1px solid $color-primary;
	color: $color-text-reversed;

	&:hover, &:focus {
		border-color: $color-primary;
		color: $color-text-reversed;
	}
}
