.carousel {
	&__title {
		position: relative;
		background: $color-secondary;
		margin-left: auto;
		padding: 40px;
		width: 90%;
		padding: 30px;
		transform: translateY(50%);
		z-index: 9;
		
		@include mq(medium) {
			width: 60%;
		}
		h2 {
			color: white;
			margin: 0;
		}
	}
	&-slider {
		&-item {
			display: flex;
			height: 100%;
			min-height: 350px;
			@include mq(medium) {
				height: 60vw;
				min-height: 700px;
			}
			&__title {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				color: white;
				z-index: 1;
				padding: 80px 30px 30px;
				background: rgb(0,0,0,0.8);
				background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
				p {
					max-width: 80%;
					@include mq(medium) {
						max-width: 25%;
					}
				}
			}
			img {
				@include mq($until: medium) {
					height: 100%;
				}
				@include mq(medium) {
					min-width: 100%;;
					min-height: 100%;
					max-width: none;
				}
			}
		}
	}
}
