// =============================================================================
// Content
// =============================================================================

.content {
	> p, > h1, > h2, > h3, > h4, > h5 {
		max-width: $container;
		margin-left: auto;
		margin-right: auto;
		padding: 0 1.5rem;
	}

	&-block {
		position: relative;
		padding-bottom: $spacing-med;
		display: flex;
		flex-direction: column;

		h2 {
			&:first-of-type {
				margin-bottom: 0;
			}
			+ p {
				margin-top: 1em;
			}
		}

		a {
			text-decoration: underline;
		}

		ul {
			list-style: disc;
			padding-left: 2rem;
			margin-bottom: 2rem;
			li {
				list-style: disc;
			}
		}
		
		&__label {
			position: relative;
			// display: flex;
			display: none;
			color: $color-primary;
			width: 100%;
			order: 2;

			@include mq(medium) {
				position: absolute;
				right: 10%;
				top: 1.5rem;
				width: auto;
			}
			+ h1,
			+ h2,
			+ .h2 {
				margin-top: 0;
				margin-bottom: 1rem;
				@include mq(medium) {
					margin-bottom: 1em;
				}

				+ p {
					order: 3;
				}
			}
		}
	}
}

.content {
	abbr {
		border-bottom: 1px dotted;
		cursor: help;
	}

	cite {
		font-style: italic;
	}

	hr {
		background: $color-grey-light;
		border: none;
		display: block;
		height: 1px;
		margin-bottom: 1.5em;
		margin-top: 1.5em
	}

	img {
		vertical-align:text-bottom
	}

	small {
		font-size: $font-size-small;
	}

	strong {
		font-weight: $font-weight-bold;
	}

	sub, sup {
		font-size: $font-size-small;
	}

	sub {
		vertical-align: sub;
	}

	sup {
		vertical-align: super;
	}

	p:last-child, dl:last-child, ol:last-child, ul:last-child, blockquote:last-child, pre:last-child, table:last-child {
		margin-bottom: 0;
	}

	p:empty {
		display:none
	}
}
