// =============================================================================
// Content
// =============================================================================

.content {
	> p, > h1, > h2, > h3, > h4, > h5 {
		max-width: $container;
		margin-left: auto;
		margin-right: auto;
		padding: 0 1.5rem;
	}

	&-block {
		position: relative;
		padding-bottom: $spacing;
		&__label {
			position: absolute;
			display: flex;
			right: 10%;
			top: 1.5rem;
			color: $color-primary;
			+ h2 {
				margin-top: 0;
			}
		}
	}
}

.content {
	abbr {
		border-bottom: 1px dotted;
		cursor: help;
	}

	cite {
		font-style: italic;
	}

	hr {
		background: $color-grey-light;
		border: none;
		display: block;
		height: 1px;
		margin-bottom: 1.5em;
		margin-top: 1.5em
	}

	img {
		vertical-align:text-bottom
	}

	small {
		font-size: $font-size-small;
	}

	strong {
		font-weight: $font-weight-bold;
	}

	sub, sup {
		font-size: $font-size-small;
	}

	sub {
		vertical-align: sub;
	}

	sup {
		vertical-align: super;
	}

	p:last-child, dl:last-child, ol:last-child, ul:last-child, blockquote:last-child, pre:last-child, table:last-child {
		margin-bottom: 0;
	}

	p:empty {
		display:none
	}
}
