.cta {
	margin: $spacing 0;
	position: relative;
	padding-right: 1.5rem;
	a {
		// text-decoration: underline;
		display: inline-flex;
		font-weight: $font-weight-bold;
		align-items: center;
		&:hover {
			.icon--arrow {
				transform: translate(0.5rem, -5px);
				transition: .2s transform ease-in-out;
			}
		}
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	h2 {
		color: $color-primary !important;
	}

	&--border {
		border-top: 1px solid rgba(0,0,0,0.5);
		padding-top: $spacing;
	}

	.icon--arrow {
		// position: absolute;
		display: inline-flex;
		margin-top: 0.5rem;
		// right: 0;
		// bottom: 0;
		margin-left: 1.5rem;
		transform: translate(0, -5px);
		transition: .2s transform ease-in-out;
		color: $color-primary !important;
	}

	&__content {
		display: flex;
		align-items: center;
	}
}