.gallery {
	margin: 0 -0.5rem $spacing -0.5rem;
}
.gallery:after {
	content: '';
	display: block;
	clear: both;
}

.gallery-item {
	position: relative;
	float: left;
	width: calc(100% / 3 - 1rem);
	height: 275px;
	margin: 0.5rem;
	color: white;
	overflow: hidden;
	z-index: 1;
	&--tall {
		height: calc(550px + 1rem);
	}

	&__link {
		display: flex;
		height: 100%;
		color: white;
		transition: .2s background ease-in-out;

		&:hover, &:focus {
			color: white;
			text-decoration: none;
			background: rgb(0,0,0,0.4);
			transition: .2s background ease-in-out;
		}

		&-title {
			width: 100%;
			background: rgb(0,0,0,0.8);
			background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
			position: relative;
			margin-top: auto;
			padding: 4rem 1rem 1rem 1rem;
			z-index: 1;
		}
	}
	&__project {
		display: flex;
		height: 100%;
		color: white;

		&:hover, &:focus {
			color: white;
			text-decoration: none;
			transition: .2s background ease-in-out;
			.gallery-item__project-title {
				background-color: darken($color-secondary, 5%);
				.icon {
					transition: .2s transform ease-in-out;
					transform: translate(0.5rem, -5px);
				}
			}
		}

		&-title {
			background-color: $color-secondary;
			width: 100%;
			position: relative;
			margin-top: auto;
			padding: 1rem;
			transition: .2s padding ease-in-out, .2s background ease-in-out;
			
			p {
				margin-bottom: 0;
			}
			h2, h3, h4 {
				color: white;
				margin: 0;
				position: relative;
				display: inline;
				@include mq($until: medium) {
					font-size: 1.7rem;
				}
			}
			.icon {
				display: flex;
				position: absolute;
				right: 30px;
				bottom: 1rem;
				transform: translateY(-5px);
				transition: .2s transform ease-in-out;
				color: white;
			}
		}
	}

	img {
		max-width: none;
		min-width: 100%;
		min-height: 100%;
		max-height: calc(100% + 2px);
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}
// .gallery-item--tall { 
// 	height: calc(550px + 1rem);
// }