// =============================================================================
// Icons
// =============================================================================

.icon {
	display: flex;
	// fill: currentColor;

	&--arrow {
		width: 8px;
		height: 13px;
	}
}
.banner-logo {
	.stop-1 {
		color: #5e4078;
	}
	.stop-2 {
		color: #825c8a;
	}
}

.icon--small {
	width: 20px;
	height: 20px;
}

.icon--medium {
	width: 26px;
	height: 26px;
}

.icon--large {
	width: 32px;
	height: 32px;
}