// =============================================================================
// Icons
// =============================================================================

.icon {
	display: flex;
	// fill: currentColor;

	&--arrow {
		width: 12.5px;
		height: 10px;
		color: white;
	}
	&--linkedin {
		width: 20px;
		height: 20px;
		color: white;
		fill: white;
	}
}

.icon--small {
	width: 20px;
	height: 20px;
}

.icon--medium {
	width: 26px;
	height: 26px;
}

.icon--large {
	width: 32px;
	height: 32px;
}