// =============================================================================
// Icons
// =============================================================================

.icon {
	display: flex;
	// fill: currentColor;

	&--arrow {
		width: 18px;
		height: 14.5px;
		color: white;
	}
	&--linkedin {
		width: 30px;
		height: 30px;
		color: white;
		fill: white;
	}
}

.icon--small {
	width: 20px;
	height: 20px;
}

.icon--medium {
	width: 26px;
	height: 26px;
}

.icon--large {
	width: 32px;
	height: 32px;
}