.images {
	display: flex;
	flex-wrap: wrap;
	&-item {
		// width: 100%;
		flex-direction: row-reverse;
		flex: 1 1 100%;
		margin-bottom: 1rem;
		padding: 0;
		@include mq(medium) {
			flex: 1 1 50%;
			margin-bottom: 0;
			padding: 0 0.5rem;
		}
		&:first-child {
			flex: 1 1 100%;
			margin-bottom: 1rem;
			padding: 0;
			@include mq(medium) {
				margin-bottom: 1rem;
			}
		}
		&:nth-child(4) {
			flex: 1 1 100%;
			margin-top: 1rem;
			@include mq(medium) {
				padding: 0;
			}
		}
		&:nth-child(2) {
			padding-left: 0;
		}
		&:nth-child(3) {
			padding-right: 0;
		}
		img {
			width: 100%;
		}

	}
	+ .images {
		margin-top: 1rem;
	}
}