.images {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
	&-item {
		background-size: cover;
		background-position: center center;
		// width: 100%;
		position: relative;
		overflow: hidden;
		flex-direction: row-reverse;
		// flex: 1 1 100%;
		margin-bottom: 1rem;
		padding: 0;
		@include mq(medium) {
			// flex: 1 1 50%;
			margin-bottom: 0;
			margin: 0 0.5rem;
		}
		&:nth-child(3n+1) {
			// flex: 1 1 100%;
			width: 100vw;
			margin: 0;
			margin-bottom: 1rem;
			@include mq(medium) {
				margin-bottom: 1rem;
				height: calc(80vw / 2);
				// max-height: 900px;
			}
		}
		&:nth-child(3n+2),
		&:nth-child(3n+3) {
			width: 100vw;
			// height: calc(70vw / 2);
			// max-height: 870px;
			max-width: 100%;
			flex: 1;
			@include mq(medium) {
				width: calc(100vw / 2 - 0.5rem);
				max-width: calc(100% - 0.5rem);	
				height: calc(70vw / 2);
			}	
		}
		&:nth-child(3n+2) {
			margin-left: 0;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		&:nth-child(4) {
			flex: 1 1 100%;
			margin-top: 1rem;
			@include mq(medium) {
				padding: 0;
			}
		}
		img {
			opacity: 0;
			// max-width: none;
			// min-width: 100%;
			// min-height: 100%;
			// width: auto;

			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
		}

	}
	+ .images {
		margin-top: 1rem;
	}
}