.projects {
	&-item {
		display: flex;
		flex-direction: column;
		&__image {
			height: 400px;
			overflow: hidden;
			background: $color-grey;
			position: relative;

			img {
				// max-width: none;
				// min-width: 100%;
				// min-height: 100%;
				// width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		&__content {
			z-index: 1;
			background: $color-secondary;
			margin-left: auto;
			width: 90%;
			padding: 30px;
			transform: translateY(-50%);
			color: white;
			transition: .2s background-color ease-in-out;

			@include mq(medium) {
				width: 60%;
				padding: 20px 80px 30px 30px;
			}
			p {
				margin-bottom: 0;
			}
			h2, h3, h4 {
				color: white;
				margin: 0;
				position: relative;
				display: inline;
				@include mq($until: medium) {
					font-size: 1.7rem;
				}
			}
			.icon {
				display: flex;
				position: absolute;
				right: 30px;
				bottom: 30px;
				transform: translateY(-5px);
				transition: .2s transform ease-in-out;
				color: white;
			}
			&:hover, &:focus {
				text-decoration: none;
				background-color: darken($color-secondary, 5%);
				transition: .2s background-color ease-in-out;
				color: white;
				.icon {
					transform: translate(0.5rem, -5px);
					transition: .2s transform ease-in-out;
				}
			}
		}
	}
}