.projects {
	margin-bottom: $spacing;
	&-container {
		position: relative;
		display: flex;
	}
	&__content{
		margin-bottom: $spacing;
	}
	&-details {
		background-color: $color-primary;
		width: 90%;
		margin-left: auto;
		transform: translateY(50%);
		padding: 40px;
		position: relative;
		z-index: 1;

		@include mq(medium) {
			width: 40%;
		}
		@include mq(large) {
			width: 30%;
		}


		h2, h3, h4, p {
			color: white;
		}
		p {
			margin: 0;
		}
		&__header {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			flex-direction: column;
			padding-right: 10%;

			@include mq(medium) {
				flex-direction: row;
			}
			h2 {
				margin-bottom: 0;
				width: 100%;
				@include mq(medium) {
					margin-bottom: 2rem;
					width: 75%;
				}
			}
			p {
				margin-bottom: 2rem;
				@include mq(medium) {
					margin-bottom: 0;
				}
			}
		}
		&-item {
			display: flex;
			margin-bottom: 0.5rem;

			div {
				width: 60%;
				// @include mq(medium) {
				// 	width: 60%;
				// }
				&:first-child {
					width: 100px;
					@include mq(medium) {
						width: 120px;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&-item {
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: $spacing * 2;
		&:first-child {
			margin-top: 0;
		}
		&:hover {
			.projects-item__image img {
				transform: translate(-50%,-50%) scale(1.02,1.02);
				transition: .2s transform ease-in-out;
			}
			+ .projects-item__link {
				background-color: darken($color-secondary, 5%);
				transition: .2s background-color ease-in-out;
				.icon {
					transform: translate(0.5rem, -5px);
					transition: .2s transform ease-in-out;
				}
			}
		}
		&__image {
			height: 400px;
			overflow: hidden;
			background: $color-grey;
			position: relative;

			img {
				// max-width: none;
				// min-width: 100%;
				// min-height: 100%;
				// width: auto;
				
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				transition: .2s transform ease-in-out;

				@include mq($until: medium) {
					max-width: none;
					height: 100%;
				}
			}
		}
		&__link {
			position: absolute;
			z-index: 1;
			background: $color-secondary;
			right: 0;
			width: 90%;
			padding: 30px;
			transform: translateY(-50%);
			color: white;
			transition: .2s background-color ease-in-out;

			@include mq(medium) {
				width: 50%;
				padding: 20px 30px 30px 30px;
			}
			
			&:hover, &:focus {
				text-decoration: none;
				background-color: darken($color-secondary, 5%);
				transition: .2s background-color ease-in-out;
				color: white;
				.icon {
					transform: translate(0.5rem, -5px);
					transition: .2s transform ease-in-out;
				}
			}
		}
		&__content {
			position: relative;
			@include mq(medium) {
				max-width: 545px;
			}
			p {
				margin-bottom: 0;
			}
			h2, h3, h4 {
				color: white;
				margin: 0;
				position: relative;
				display: inline;
				@include mq($until: medium) {
					font-size: 1.7rem;
				}
			}
			.icon {
				display: flex;
				position: absolute;
				right: 30px;
				bottom: 0px;
				transform: translateY(-5px);
				transition: .2s transform ease-in-out;
				color: white;
			}
		}
	}
}