.pull-out {
	background-color: $color-primary;
	width: 90%;
    margin-left: auto;
    transform: translateY(40px);
	padding: 30px 40px 40px;

	@include mq(medium) {
		width: 80%;
		transform: translateY(50%);
	}
	h2, h3, h4, p {
		color: white;
		margin: 0;
		@include mq($until: medium) {
			font-size: 1.4rem;
		}
	}
	p {
		margin: 0;
	}
	&-container {
		position: relative;
		z-index: 1;
		display: flex;
		margin-top: -1rem;
	}
}