.text-image {
	display: flex;
	flex-direction: column;
	@include mq(medium) {
		flex-direction: row;
	}
	&__image {
		width: 40%;
	}
	&__content {
		width: 60%;
		padding: 1rem $spacing;
		&-link {
			position: relative;
			width: 100%;
			display: block;
			margin-bottom: 1.5rem;
			p {
				margin: 0;
				color: $color-text-base;
				&:first-child {
					color: $color-primary;
				}
			}
			.icon {
				position: absolute;
				display: inline-flex;
				right: 0;
				top: 0;
				color: $color-primary;
				transform: translateY(5px);
			}
			&:hover {
				text-decoration: none;
				color: inherit;
				.icon {
					transition: .2s transform ease-in-out;
					transform: translate(0.5rem, 5px);
				}
			}
		}
	}
}