.text-image-not-contain.text-image__image--right-main {
	flex-direction: column;
	@include mq(medium) {
		flex-direction:row-reverse;
	}
}
.text-image.text-image-not-contain .is-visible {
	padding-bottom: 74%;
	background-position: center center;
	background-size: cover;
	@include mq(medium) {
		padding-bottom: 27%;
	}
}
.text-image-not-contain img {
	opacity: 0;
	position: absolute;
}

@include mq(medium) {
	.text-image-not-contain .text-image__image {
		position: relative;
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
}
.text-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: $spacing-med;

	@include mq(medium) {
		flex-direction: row;
	}
	.text-image__image {
		display: none;
	}

	.is-visible {
		display: block;
	}
	&__image {
		width: 100%;
		position: relative;
		
		@include mq(medium) {
			width: 50%;
		}

		img {
			width: 100%;
		}

		&--right {
			order: 1;
			@include mq(medium) {
				order: 2;
			}
			+ .text-image__content {
				margin-left: auto;
			}
		}
	}
	&__title {
		background: rgb(0,0,0,0.6);
		background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		color: white;
		padding: 1.5rem;
		height: 50%;
		display: flex;
		align-items: flex-end;
	}
	&__content {
		width: 100%;
		padding: 1rem 1.5rem;
		max-width: 100%;
		// margin: 0 auto;
		@include mq(medium) {
			max-width: 620px;
			width: 50%;
			padding: 1rem $spacing;
		}
		@include mq($until: medium) {
			order: 1;
		}

		h2, h3, h4, h5, h6 {
			margin-bottom: 0;
			margin-top: 0;
			+ h2, + h3, + h4, + h5, + .accordion {
				margin-top: 2rem;
			}
			+ h6 {
				margin-top: 1rem;
			}
			+ p {
				margin-top: 2.5rem;
			}
			+ .text-image__content-link {
				margin-top: 2rem;
			}
		}

		&-link {
			position: relative;
			width: 100%;
			display: block;
			margin-bottom: 1.5rem;
			p {
				margin: 0;
				color: $color-text-base;
				display: inline-block;
			}
			.icon {
				position: relative;
				display: inline-flex;
				transition: .2s transform ease-in-out;
				transform: translateY(0px);
				margin-left: 0.5rem;
			}
			&:hover, &:focus{
				text-decoration: none;
				color: inherit;
				.icon {
					transition: .2s transform ease-in-out;
					transform: translate(0.5rem, 0px);
				}
			}
		}
	}
}
.text-image + .container .cta {
	margin-top: 0;
}
.is-contained {
	// margin: 0 auto;
	// max-width: $container;
	@extend .container;
	.text-image {
		align-items: end;
		&__image {
			max-width: 100%;
			@include mq(medium) {
				width: 30%;
				max-width: 575px;
			}
			&--right {
				+ .text-image__content {
					margin-left: 0;
					padding-left: 0px;
					padding-right: 70px;
				}
			}
		}
		&__content {
			max-width: 770px;
			@include mq($until: medium) {
				padding: 0;
			}
			@include mq(medium) {
				padding-right: 1rem;
				width: 70%;
			}
			p {
				font-size: $font-size-base;
			}
		}
	}		
}