// =============================================================================
// Footer
// =============================================================================

.global-footer {
	margin-top: $spacing;
	padding: 1rem 0;
	text-align: center;
	background-color: $color-primary;
}

.social-links {
	display: flex;
	justify-content: center;
}

.social-links__item {
	margin: 0 1rem;
}

.social-links__link {
	color: black;
}