// =============================================================================
// Header
// =============================================================================

.global-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	position: sticky;
	top: 0;
	z-index: 99;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

	// @include mq(medium) {
	// 	position: relative;
	// }

	&--logo {
		width: 175px;
		margin: 0;
		margin-left: 1.5rem;
		padding: 30px 0;

		@include mq(medium) {
			padding: 0;
			margin-left: 2rem;
		}
	}

	&--nav {
		display: none;
		@include mq(medium) {
			margin-top: 2rem;
			display: flex;
			align-items: center;
		}

		> div {
			height: 100%;
			@include mq($until: medium) {
				overflow: auto;
			}
		}
		ul {
			padding-left: 0;
			display: flex;
			position: relative;

			.sub-menu {
				// display: none;
				visibility: visible;
				opacity: 1;
				background-color: transparent; 
				position: relative;
				flex-direction: column;
				width: 100%;
				left: 0;
				top: 100%;
				transition: .3s all ease-in-out;
				@include mq(medium) {
					width: 80%;
					visibility: hidden;
					opacity: 0;
					position: absolute;
				}

				li {
					padding: 0;
					@include mq(medium) {
						padding: 0 1.5rem;
					}
				}
				li > a {
					padding: 1rem 0;
					width: 100%;
					color: white;
					border-bottom: none;
					@include mq(medium) {
						border-bottom: 1px solid white;
					}

					&:after {
						content: '';
						position: absolute;
						right: 1.75rem;
						width: 13px;
						height: 10px;
						transition: .2s transform ease-in-out;
						@include mq(medium) {
							content: url("../src/icons/arrow-white.svg");
						}
					}
				}
			}
			.current_page_item {
				a {
					font-weight: $font-weight-bold;
					@include mq(medium) {
						font-weight: $font-weight-normal;
						color: lighten($color-primary, 10%);
					}
				}
			}

			li {
				display: flex;
				height: 100%;
				&:hover, &:focus {
					> a {
						background-color: $color-primary; 
						color: white;
					}
					.sub-menu {
						// display: none;
						@include mq(medium) {
							display: flex;
							visibility: visible;
							opacity: 1;
							background-color: $color-primary; 
							width: 100%;
							transition: .3s all ease-in-out;
						}

						a {
							background-color: transparent; 
							&:hover {
								&:after {
									transform: translateX(0.5rem);
									transition: .2s transform ease-in-out;
								}
							}
						}
					}
				}
				a {
					display: flex;
					color: $color-text-base;
					font-size: $body-size;
					height: 100%;
					transition: .3s background-color ease-in-out, .3s color ease-in-out;
					padding: 1.5rem 1.5rem;
					&:hover, &:focus {
						color: white;
						text-decoration: none;
						background: $color-primary;
						transition: .3s background-color ease-in-out, .3s color ease-in-out;
					}
				}
				&:last-child {
					a {
						border-bottom: 0;
					}
				}
			}
		}

		&-btn {
			cursor: pointer;
			overflow: visible;
			border: 0;
			outline: none;
			display: block;
			background-color: white;
			height: 100%;

			position: absolute;
			right: 0;
			top: 0;
			padding: 0 1.5rem;
			transition: .3s background-color ease-in-out;
			@include mq(medium) {
				display: none;
			}
		}
		.is-active {
			background-color: $color-primary;
			transition: .3s background-color ease-in-out;
		}

		&__mobile {
			position: fixed;
			padding-top: 100px;
			right: -100%;
			top: 0;
			width: 100%;
			height: 100vh;
			z-index: -1;
			background: transparent;
			transition: all 0.2s ease-in-out;
			display: block;
			@include mq(medium) {
				display: none;
			}
			ul {
				display: flex;
				flex-direction: column;
				background: $color-primary;
				padding: 0.5rem 1.5rem;
				li {
					flex-direction: column;
					a {
						padding: 1rem 0;
						width: 100%;
						color: white;
						font-size: $font-size-base;
						border-bottom: 1px solid white;

						&:after {
							content: url("../src/icons/arrow-white.svg");
							position: absolute;
							right: 1.75rem;
							width: 13px;
							height: 10px;
						}
					}
				}
			}
		}
	}
}
.menu-active {
	overflow: hidden;
}
.global-header--nav__mobile.is-active {
	transform: translateX(-100%);
	transition: all 0.2s ease-in-out;
	// background: $body-background-color;
}
.global-header--nav-btn.is-active {
	background-color: $color-primary;
}
/*
* SVG animation
*/
.global-header--nav-btn.is-active .global-header--nav-inner,
.global-header--nav-btn.is-active .global-header--nav-inner::before,
.global-header--nav-btn.is-active .global-header--nav-inner::after {
	background-color: white;
}

.global-header--nav-box {
	width: 30px;
	height: 26px;
	display: inline-block;
	position: relative;
}

.global-header--nav-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	span {
		visibility: hidden;
		position: absolute;
	}
}
.global-header--nav-inner,
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	width: 30px;
	height: 2px;
	background-color: $color-primary;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	content: "";
	display: block;
}
.global-header--nav-inner::before {
	top: -9px;
}
.global-header--nav-inner::after {
	bottom: -9px;
}

.global-header--nav-inner {
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.global-header--nav-inner::before,
.global-header--nav-inner::after {
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: linear;
}
.global-header--nav-inner::before {
	transition-property: top, opacity;
}
.global-header--nav-inner::after {
	transition-property: bottom, transform;
}

.is-active .global-header--nav-inner {
	transform: rotate(765deg);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.is-active .global-header--nav-inner::before, .is-active .global-header--nav-inner::after {
	transition-delay: 0s;
}
.is-active .global-header--nav-inner::before {
	top: 0;
	opacity: 0;
}
.is-active .global-header--nav-inner::after {
	bottom: 0;
	transform: rotate(90deg);
}
