// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 780px;
}
