// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	// height: 100%;
	max-width: $container-large;
	margin: 0 auto;
	background-color: $color-white;
}

.container {
	margin: 0 auto;
	padding: 0 1.5rem;
	max-width: $container;
}

.container--large {
	margin: 0 auto;
	padding: 0  1.5em;
	max-width: $container-large;
}