// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	// height: 100%;
	max-width: none;
	margin: 0 auto;
	background-color: $color-white;
	position: relative;
}

.container {
	margin: 0 auto;
	padding: 0 1.5rem;
	width: 100%;
	max-width: $container;
	@include mq(medium) {
		padding: 0 5rem;
	}
}

.container--large {
	margin: 0 auto;
	padding: 0  1.5em;
	width: 100%;
	max-width: $container-large;
}

.home .banner-outer .icon--arrow {
	display: none;
}